<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Look 4a tech book</title>
</head>
<body>
<h1>Book List</h1>

<table>
    <tr>
        <th>Title</th>
        <th>Author</th>
        <th>ISBN</th>
        <th>Publisher</th>
    </tr>
    <tr th:each="book : ${books}">
        <td th:text="${book.title}">123</td>
        <td th:text="${book.author}">123</td>
        <td th:text="${book.isbn}">123</td>
        <td th:text="${book.publisher}">123</td>
</table>
</body>
</html>